.formContainer {
  display: block;
  margin-top: 8px;
}
.formContainer .form-group {
  margin: 8px 0;
}

.formContainer button {
  margin: 12px 0;
  display: block;
  width: 100%;
  text-transform: uppercase;
}
.redirectContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
